@font-face {
    src: url("../assets/font/NanumFont/NanumGothic/NanumFontSetup_OTF_GOTHIC/NanumGothicBold.otf");
    font-family: "NanumGothic";
}


body{
    display: flex;
    background-color: rgb(255,255,255);
    justify-content: center;
    align-items: center;
}

.setLocation{
    position:relative;
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 85vw;
    background: rgb(255, 255, 255);
    border-radius: 40px;
    /*padding:3%;*/
    margin: 2%;
    box-shadow: 0px 2px 9px rgb(171, 171, 171);
    z-index: 3;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lines{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    width: 70vw;
}

#line1, #line2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#line1{
    margin-bottom: 10%;
}


#start{
    font-size: 3.5vw;
    font-weight: bold;
    /*position: absolute;*/
    color: rgb(255, 155, 47);
}

#arrive{
    font-size: 3.5vw;
    font-weight: bold;
    /*position: absolute;*/
    color: rgb(255, 155, 47);
}

#setStart{
    /*position: absolute;*/
    width: 55vw;
    height: 100%;
    outline: 0;
    border-radius: 12px;
    margin-left: 24%;
    box-shadow: rgb(171, 171, 171);
    background: rgb(255, 255, 255);
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}

#setArrive{
    /*position: absolute;*/
    width: 55vw;
    height: 100%;
    outline: 0;
    border-radius: 12px;
    margin-left: 24%;
    box-shadow: rgb(171, 171, 171);
    background: rgb(255, 255, 255);
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}

#btnBox{
    display: flex;
    justify-content: right;
}

#changeBtn{
    border: 0;
    background: rgb(255, 255, 255);
    justify-content: right;
}

#change{
    /*position: absolute;*/
    width: 10vw;
    height: 5vh;
}

.options{
    width: 80vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    border: 0;
    border-radius: 16px;
    padding: 2%;
    margin: 2%;
    background: rgb(255,255,255);
    box-shadow: 0px 2px 9px rgb(171,171,171);
    z-index: 3;
    justify-content: center;
}

#drawer {
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    display: flex;
    flex-direction: column;
    border: 0;
    border-radius: 16px;
    /*align-items: center;
    justify-content: center;*/
}

#cancelBtn {
    /*position : absolute;*/
    width : 25%;
    height : 100%;
    left : 18%;
    bottom: 52%;
    background : linear-gradient(to left, rgb(194, 68, 46), rgb(255, 155, 47));
    border : 0;
    border-radius : 16px;
    z-index: 2;
    color : white;
}

#setBtn {
    /*position : absolute;*/
    width : 25%;
    height : 100%;
    left : 60%;
    bottom: 52%;
    background : linear-gradient(to left, rgb(194, 68, 46), rgb(255, 155, 47));
    border : 0;
    border-radius : 16px;
    z-index: 2;
    color : white;
}

.sex_switch{
    padding: 3%;
    bottom: 84%;
    left: 72%;
    top: 0%;
}

.personCount{
    border: 0;
    align-items: center;
    padding: 3%;
}

.bag_switch{
    padding: 3%;
    bottom: 60%;
    left: 72%;
}

#Questions{
    font-size: 1em;
    Color: rgb(255, 155, 47);
    padding: 2%;
}

#q1, #q2, #q3, #q4{
    display: flex;
    flex-direction: row;
    
}

#switch1, #switch2 {
    display: flex;
    position: absolute;
    z-index: 3;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#switch1:checked + .switch_label1, #switch2:checked + .switch_label2 {
    background: rgb(255, 155, 47);
    border: 2px solid rgb(255, 155, 47);
}
  
#switch1:checked + .switch_label1:hover, #switch2:checked + .switch_label2:hover{
    background: rgb(255, 155, 47);
}
  
#switch1:checked + .switch_label1 .onf_btn1, #switch2:checked + .switch_label2 .onf_btn2 {
    left: 33px;
    background: #fff;
    box-shadow: 0px 2px 9px rgb(171, 171, 171);
}

.switch_label1, .switch_label2 {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 58px;
    height: 28px;
    background: #efefef;
    border: 2px solid gray;
    border-radius: 16px;
    transition: 0.2s;
}

.switch_label1:hover, .switch_label2:hover {
    background: #efefef;
}

.onf_btn1, .onf_btn2 {
    position: absolute;
    top: 5px;
    left: 5px;
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 16px;
    background: rgb(255,255,255);
    transition: 0.2s;
}

.drawer_close{
    transform: translateY(100%);
    /*display: none;*/
}

.drawer_open{
    display: inline;
    /*transform: translateY(0);*/
}

.lower_nav{
    position: absolute;
}

.nav{
    z-index: 3;
}

.mapBox{
    width: 90vw;
    height: 50vh;
    border-radius: 40px;
    margin: 2%;
    box-shadow: 0px 2px 9px rgb(171, 171, 171);
}
.map{
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    border-radius: 40px;
}