@font-face {
    src: url("../assets/font/NanumFont/NanumGothic/NanumFontSetup_OTF_GOTHIC/NanumGothicBold.otf");
    font-family: "NanumGothic";
}


body{
    display: flex;
    background: #f8f3ed;
    justify-content: center;
    align-items: center;
}

.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setLocation{
    position:relative;
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 90vw;
    background: #f8f3ed;
    border-radius: 40px;
    /*padding:3%;*/
    margin: 2%;
    box-shadow:  8px 8px 16px #d3cfc9, -8px -8px 16px #ffffff;
    z-index: 3;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lines{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70vw;
    height: 15vh;
}

#selecter1, #selecter2{
    display: flex;
    flex-direction: row;
}
#line1, #line2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#line1{
    margin-bottom: 5vh;
}

#start{
    font-size: 3.5vw;
    font-weight: bold;
    width: 16vw;
    /*position: absolute;*/
    color: #444444;
}

#arrive{
    font-size: 3.5vw;
    font-weight: bold;
    width: 16vw;
    /*position: absolute;*/
    color: #444444;
}

#setStart{
    /*position: absolute;*/
    width: 55vw;
    height: 100%;
    outline: 0;
    font-size: 3vw;
    border: bold;
    border-radius: 12px;
    border-color: rgb(255, 155, 47);
    box-shadow: rgb(171, 171, 171);
    background: #ffffff;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}

#setArrive{
    /*position: absolute;*/
    width: 55vw;
    height: 100%;
    outline: 0;
    font-size: 3vw;
    border: bold;
    border-radius: 12px;
    border-color: rgb(255, 155, 47);
    box-shadow: rgb(171, 171, 171);
    background: rgb(255, 255, 255);
    /*display: flex;
    align-items: center;
    justify-content: center;*/

}

#btnBox{
    display: flex;
    justify-content: right;
    width: 12vw;
}

#changeBtn{
    border: 0;
    background: #f8f3ed;
    justify-content: right;
    border-radius: 50px;
}

#change{
    /*position: absolute;*/
    width: 10vw;
    height: 5vh;
}

.options{
    width: 90vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    border: 0;
    border-radius: 16px;
    padding: 2%;
    margin: 2%;
    background: #f8f3ed;
    box-shadow: 0px 2px 9px rgb(171,171,171);
    z-index: 3;
    justify-content: center;
    box-shadow:  8px 8px 16px #d3cfc9, -8px -8px 16px #ffffff;
}

.buttons{
    display: flex;
    justify-content: center;
}

#cancelBtn {
    width: 20vw;
    height: 5vh;
    margin: 2%;
    background : linear-gradient(to left, rgb(194, 68, 46), rgb(255, 155, 47));
    border : 0;
    border-radius : 16px;
    z-index: 2;
    color : white;
}

#setBtn {
    width : 20vw;
    height : 5vh;
    margin: 2%;
    background : linear-gradient(to left, rgb(194, 68, 46), rgb(255, 155, 47));
    border : 0;
    border-radius : 16px;
    z-index: 2;
    color : white;
}

.sex_switch{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
}

.personCount{
    display: flex;
    border: 0;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
}

#minus, #plus{
    width: 10vw;
    height: 5vh;
    border: 0;
    border-radius: 40px;
}

#maxPerson{
    font-size: 6vw;
    font-weight: bold;
}

.bag_switch{
    display:flex;
    align-items: center;
    padding: 3%;
    bottom: 60%;
    left: 72%;
}

#Questions{
    display: flex;
    align-items: center;
    font-size: 4vw;
    Color: #444444;
    padding: 3%;
}

#q1, #q2, #q3, #q4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;
}

#switch1, #switch2 {
    display: flex;
    position: absolute;
    z-index: 3;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#switch1:checked + .switch_label1, #switch2:checked + .switch_label2 {
    background: rgb(255, 155, 47);
    border: 2px solid rgb(255, 155, 47);
}
  
#switch1:checked + .switch_label1:hover, #switch2:checked + .switch_label2:hover{
    background: rgb(255, 155, 47);
}
  
#switch1:checked + .switch_label1 .onf_btn1, #switch2:checked + .switch_label2 .onf_btn2 {
    left: 11vw;
    background: #fff;
    box-shadow: 0px 2px 9px rgb(171, 171, 171);
}

.switch_label1, .switch_label2 {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 17.4vw;
    height: 5vh;
    background: #efefef;
    border: 2px solid gray;
    border-radius: 16px;
    transition: 0.2s;
}

.switch_label1:hover, .switch_label2:hover {
    background: #efefef;
}

.onf_btn1, .onf_btn2 {
    position: absolute;
    top: 5px;
    left: 5px;
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 16px;
    background: rgb(255,255,255);
    transition: 0.2s;
}

.time_picker{
    display: flex;
    align-items: center;
}

#setTime, #setMinute{
    font-size: 3vw;
    width: 25vw;
    height: 100%;
}

.nav{
    z-index: 3;
}

.mapBox{
    width: 90vw;
    height: 50vh;
    border-radius: 40px;
    margin: 2%;
    box-shadow: 8px 8px 16px #d3cfc9, -8px -8px 16px #ffffff;
}
.map{
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    border-radius: 40px;
}


@media screen and (min-width: 450px) and (min-height: 700px){
    
}