* {
	font-family: "Noto Sans KR", sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.setLocation{
    position: absolute;
    align-self: center;
    height: 15%;
    width: 90%;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    padding:10px;
    margin: 10px;
    box-shadow: 0px 2px 9px rgb(171, 171, 171);
    z-index: 3;
}

#drawer {
    position : fixed;
    z-index: 2;
    top : 58%;
    right : 2%;
    width: 96%;
    height: 60%;
    background: rgb(255,255,255);
    transition: transform 0.7s ease-in-out;
    box-shadow: 0px 2px 9px rgb(171,171,171);
    border-radius: 12px;
}

#handle {
    position : fixed;
    top : 70%;
    left: 25%;
    width: 50%;
    height: 5%;
    background: linear-gradient(to left, rgb(194, 68, 46), rgb(255, 155, 47));
    border-radius: 16px;
    border : 0;
    z-index: 2;
    color : white;
}

#cancelBtn {
    position : absolute;
    width : 25%;
    height : 7%;
    left : 18%;
    bottom: 54%;
    background : linear-gradient(to left, rgb(194, 68, 46), rgb(255, 155, 47));
    border : 0;
    border-radius : 16px;
    z-index: 2;
    color : white;
}

#setBtn {
    position : absolute;
    width : 25%;
    height : 7%;
    left : 60%;
    bottom: 54%;
    background : linear-gradient(to left, rgb(194, 68, 46), rgb(255, 155, 47));
    border : 0;
    border-radius : 16px;
    z-index: 2;
    color : white;
}

.sex_switch{
    padding: 5%;
    float: right;
}

.personCount{
    padding: 5%;
    left:0%;
    bottom: 1%;
    float: right;
}

/*#Questions{
    padding: 5%;
    margin-top: 1%;
    margin-left: 7%;
    margin-right: 10%;
    margin-bottom: 1%;
    Color: rgb(255, 155, 47);
    float: left;
}*/

#switch {
    display: flex;
    position: absolute;
    z-index: 3;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#switch:checked+.switch_label {
    background: rgb(255, 155, 47);
    border: 2px solid rgb(255, 155, 47);
}
  
#switch:checked+.switch_label:hover {
    background: rgb(255, 155, 47);
}
  
#switch:checked+.switch_label .onf_btn {
    left: 33px;
    background: #fff;
    box-shadow: 0px 2px 9px rgb(171, 171, 171);
}

.switch_label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 58px;
    height: 28px;
    background: rgb(255,255,255);
    border: 2px solid gray;
    border-radius: 16px;
    transition: 0.2s;
}

.switch_label:hover {
    background: #efefef;
}

.onf_btn {
    position: absolute;
    top: 5px;
    left: 5px;
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 16px;
    background: rgb(255,255,255);
    transition: 0.2s;
}



.drawer_close{
    transform: translateY(100%);
    /*display: none;*/
}

.drawer_open{
    display: inline;
    /*transform: translateY(0);*/
}

.lower_bar{
    /*position: fixed;*/
    /*height: 1%;*/
    z-index:3;
    /*top: 90%;*/
}

.map{
    position: absolute;
    width: 100%;
    height: 100%;
}