* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Noto Sans KR", sans-serif;
  }
  
  a {
	text-decoration: none;
	color: black;
  }
  
  li {
	list-style: none;
  }
  
  .wrap {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(196, 29, 29, 0.493);
  }

  .register_margin {
	padding: 20px;
	display: flex;
  }

  .register {
	width: 100%;
	height: 100%;
	background: white;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }
  
  h2 {
	color: tomato;
	font-size: 2em;
  }
  
  .register_email {
	margin-top: 20px;
	width: 80%;
  }
  
  .register_email input {
	width: 100%;
	height: 50px;
	border-radius: 30px;
	margin-top: 10px;
	padding: 0px 20px;
	border: 1px solid lightgray;
	outline: none;
  }
  
  .register_num {
	margin-top: 20px;
	width: 80%;
  }
  
  .register_num input {
	width: 100%;
	height: 50px;
	border-radius: 30px;
	margin-top: 10px;
	padding: 0px 20px;
	border: 1px solid lightgray;
	outline: none;
    display: none;
  }

  .register_pw {
	margin-top: 20px;
	width: 80%;
  }
  
  .register_pw input {
	width: 100%;
	height: 50px;
	border-radius: 30px;
	margin-top: 10px;
	padding: 0px 20px;
	border: 1px solid lightgray;
	outline: none;
    display: none;
  }
  
  .register_etc {
	color: rgb(227, 130, 20);
	padding: 10px;
	width: 80%;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
  }
  
  .submit {
	margin-top: 40px;
	width: 80%;
  }

  .submit input {
	width: 100%;
	height: 50px;
	border: 0;
	outline: none;
	border-radius: 40px;
	background: linear-gradient(to left, rgb(255, 77, 46), rgb(255, 155, 47));
	color: white;
	font-size: 1.2em;
	letter-spacing: 2px;
    display: none;
  }
  
  .email button {
    position: absolute;
    width: 30px;
	height: 30px;
	border: 1px solid white;
    background: white;
	outline: 0;
    top: 50%;
    right: 13%;
    color: tomato;
  }
  .timer {
    position: absolute;
    color: lightgray;
    top: 50%;
    right: 16%;
    display: none;
}
