body {
    /* height: 100%;
    overflow: hidden; */
    margin: 0px;
    padding: 0px;
    background-color: rgb(248, 243, 237);
}

.wrap {
    width: 100%;
    height: 38vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.wrap_main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 3vh;
}

.wrap_main img {
  filter: drop-shadow(0px 2px 9px rgb(171, 171, 171));  
}

.wrap1 {
  position: relative;
  width: 90vw;
  height: 28vh;
  border-radius: 16px;
  /* border: 1px solid #fff7e4; */
  margin: 3vw;
  background: #f8f3ed;
  box-shadow:  3px 3px 6px #cbc7c2, -3px -3px 6px #ffffff;
}

.wrap2 {
    position: relative;
    width: 90vw;
    height: 36vh;
    border-radius: 16px;
    /* border: 1px solid #fff7e4; */
    margin: 5vw;
    background: #f8f3ed;
    box-shadow:  3px 3px 6px #cbc7c2, -3px -3px 6px #ffffff;
}

.user_info p{
    font-size: 6vw;
}

hr {
    position: relative;
    width : 90%;
    height : 0.1em;
    bottom: 1.8em;
    background-color : rgb(202, 202, 202, 1);
    border : 0;
  }

p {
  color: #444444;
}
  
  .center-hr {
    display: flex;
	  align-items: center;
	  justify-content: center;
  }
  

  .setting_title {
    position: relative;
    color: #ADADAD;
    font-family: Rubik;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1.4em;
    margin-top: 2.4em;
    bottom: 2.2em;
  }

  .setting_detail1 {
    position: relative;
    color: #000000;
    font-family: Rubik;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1.4em;
    margin-top: 2.1em;
  }

.drawer_close{
    transform: translateY(100%);
}
.drawer_open{
    transform: translateY(0);
    /*display: inline;*/
}

#drawer {
    position : fixed;
    display: flex;
    z-index: 2;
    top : 50%;
    right : 10%;
    width: 80%;
    height: 70%;
    top : 58%;
    right : 2%;
    width: 96%;
    height: 60%;
    background: rgb(248, 243, 237);
    transition: transform 0.7s ease-in-out;
    box-shadow:  3px 3px 6px #cbc7c2, -3px -3px 6px #ffffff;
    color : #111111;
    border-radius: 12px;
}