body {
    /* height: 100%;
    overflow: hidden; */
    margin: 0px;
    padding: 0px;
}

.wrap {
    width: 100%;
    height: 38vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: static;
}

.main_title{
    position: relative;
    bottom: 2em;
    margin-right: 5em;
    font-size: 200%;
    font-style: bold;
    font-weight: 600;
    color: rgb(255, 255, 255);
    display: flex;
	align-items: center;
	justify-content: center;
}



.wrap_t {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

.wrap1 {
    position: relative;
    display: flex;
	align-items: center;
	justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #E38214;
    border-radius: 12px;
    bottom: 10%;
}

.wrap2 {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    bottom: 23%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 9px rgb(171, 171, 171);
}

.user_profile {
    position: relative;
    display: flex;
    top: 2em;
    left: 1em;
    filter: drop-shadow(0px 0px 5px rgb(171, 171, 171))
}

.user_name {
    position: relative;
    display: flex;
    left: 5.4em;
    bottom: 2.2em;
}
.user_name p{
    width: 100%;
    font-size: x-large;
}

hr {
    position: relative;
    width : 90%;
    height : 0.1em;
    bottom: 1.8em;
    background-color : rgb(202, 202, 202, 1);
    border : 0;
  }
  
  .center-hr {
    display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .setting_title {
    position: relative;
    color: #ADADAD;
    font-family: Rubik;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1.4em;
    bottom: 2.2em;
  }
  .setting_title {
    position: relative;
    color: #ADADAD;
    font-family: Rubik;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1.4em;
    margin-top: 2.4em;
    bottom: 2.2em;
  }

  .setting_detail1 {
    position: relative;
    color: #000000;
    font-family: Rubik;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1.4em;
    margin-top: 2.4em;
    bottom: 2.2em;
  }