* {
	margin: 0;
	padding: 0;
}

.lower_bar {
    width: 100%;
	height: 10vh;
	display: flex;
    position: absolute;
    bottom: 0%;
    align-items: center;
    background:  rgb(255, 155, 47);
}
.home {
    width: 20%;
    height: 100%;
    align-items: center;
	justify-content: center;
    display: flex;
    flex-direction: column;
}

.home p {
    color: white;
    margin-top: 5px;
    font: 12px sans-serif;
}

.matching {
    width: 20%;
    height: 100%;
	align-items: center;
	justify-content: center;
    flex-direction: column;
    display: flex;
}

.matching p {
    color: white;
    margin-top: 5px;
    font: 12px sans-serif;
}

.matching_room {
    width: 20%;
    height: 100%;
    align-items: center;
    flex-direction: column;
	justify-content: center;
    display: flex;
}



.matching_room p {
    color: white;
    margin-top: 5px;
    font: 12px sans-serif;
}

.chatting {
    width: 20%;
    height: 100%;
    align-items: center;
	justify-content: center;
    flex-direction: column;
    display: flex;
    
}

.chatting p {
    color: white;
    margin-top: 5px;
    font: 12px sans-serif;
}

.setting {
    width: 20%;
    height: 100%;
    align-items: center;
	justify-content: center;
    flex-direction: column;
    display: flex;
}

.setting p {
    color: white;
    margin-top: 5px;
    font: 12px sans-serif;
}