.matching_check {
	position: relative;
    width: 100%;
	height: 10vh;
	background-color: rgba(227, 130, 20,0.8);
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	top: 8vh;
}

.wrap {
    width: 100%;
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
	/* background: url("../assets/img.png") no-repeat; */
}

.matching_previous_room {
    width: 20%;
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.matching_current_room {
    width: 60%;
	height: 60%;
	display: flex;
	align-items: center;
    border-radius: 20px;
    border: 2px solid lightgray;
	flex-direction: column;
}

.matching_next_room {
    width: 20%;
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.matching_room_div {
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
}

.matching_room_button {
	width: 100%;
	height: 20%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.matching_room_sign {
	width: 33%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}